.home-main {
  height: 100vh;
  background: transparent;
}

.home-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-feed-div {
  width: 75vw;
  background-color: lightblue;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8vh;

  ul {
    list-style-type: none;
  }


  img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    box-sizing: border-box;
    border: 2px solid black;
    }
}
