
.home-div {
  min-height: 90vh;
  padding-top: 5vh;
  padding-bottom: 50px;
  width: calc(100vw - 30px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.home-feed-div {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  padding-top: 37px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 4vw;
  background: #f4f1ed;


  .photos-index {
    display: flex;
    justify-content: center;
    width: 100vw;

      ul {
        padding: 20px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .photos-index-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 240px;
          width: 320px;
          margin: 4px;
          overflow: hidden;
          position: relative;

          img {
            flex-shrink: 0;
            min-height: 100%;
            max-height: 120%;
            min-width: 100%;
            max-width: 160%;
          }

          .img-name-title {
            opacity: 0.2;
            visibility: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 40px;
            position: absolute;
            padding: 10px;
            bottom: -60px;
            background: linear-gradient(
                            transparent,
                            black);
            font-family: 'Ubuntu', sans-serif;
            color: white;
            font-size: 14px;
            transition: bottom .1s, opacity .28s linear;

          .img-and-name, {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 15px;

            .img {
              height: 36px;
              width: 36px;
              margin-right: 10px;
              border-radius: 100px;
              overflow: hidden;

              }

            .name {
              padding: 2px;
            }
          }
          .title {
            font-style: italic;
            text-align: right;
            padding-right: 20px;
          }
        }
      }
    }

    .photos-index-item:hover {
        position: relative;
      .img-name-title {
        visibility: visible;
        opacity: 1.0;
        position: absolute;
        bottom: 0px;
        padding: 10px;
        color: white;
        font-size: 14px;
        width: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4), black);
        .title {
          font-style: italic;
        }

        .img > img:hover {
          filter: brightness(.7);
        }
        .name:hover {
          background: rgba(256, 256, 256, .3);
          border-radius: 3px;
        }
      }
    }
  }


}
