.home-main {
  height: 100vh;
  background: transparent;
}

.home-div {
  position: absolute;
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f4f1ed;
}

.home-feed-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .photos-index {
    display: flex;
    justify-content: center;
    width: 100%;

      ul {
        padding: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

    .photos-index-item {

      height: 240px;
      width: 320px;
      margin: 10px;
      border: 1px solid gray;
      box-sizing: border-box;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: transform .2s ease-in-out;


      .author_id, .title {
        display: none;
      }

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        min-height: 100%;
        min-width: 100%;
        max-height: 120%;
        max-width: 120%;
      }
      img:hover {
      }
    }


    .photos-index-item:hover {
      font-family: sans-serif;
      z-index: 1;
      transform: scale(1.1);
      box-shadow: 5px 5px 10px black;

      .author_id {
        display: block;
        padding: 10px;
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        background: rgb(204, 204, 204);
        background: rgba(204, 204, 204, 0.7);
      }

      .title {
        padding: 5px;
        display: block;
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        background: white;
        background: rgb(204, 204, 204);
        background: rgba(204, 204, 204, 0.7);
      }
      .author_id:hover, .title:hover {
        background: rgb(204, 204, 204);
        background: rgba(204, 204, 204, 1);
      }
    }
  }


}
