.logged-out-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: lightblue;
  margin-left: 20px;
  margin-right: 20px;
}

.login-signup {
  height: 100%;
  a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    padding: 27px;
  }

  a:hover {
    background: rgb(256, 256, 256);
    background: rgba(256, 256, 256, .2);
  }
}




.logo {
  width: 200px;
  padding: 20px;
  height: 30px;
  content: image_url("logo-white.png");
}

.logo:hover {
  background: rgb(256, 256, 256);
  background: rgba(256, 256, 256, .2);
}
