.logged-in-nav {
  height: 50px;
  position: fixed;
  z-index: 5;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  border-bottom: 1px solid lightgray;
  padding-left: 3vw;

    .logo {
      width: 160px;
      height: 25px;
      content: image_url("logo-black.png");
      padding: 18px 5px 18px 5px;

    }


    .logo:hover {
      content: image_url("logo-blue.png");
    }

    .header-group {
      height: 40px;
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding-top: 6px;
      padding-right: 4vw;

      .profile-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;

        .profile-icon {
          height: 20px;
          padding: 0;
          margin: 0;
          content: image_url("profile.png");
          transition: height ease-out;
        }

        p {
          visibility: hidden;
          text-align: center;
          color: #00A8E5;
          font-size: 10px;
          margin: 0;
          padding: 1px;
        }
      }
      .profile-link:hover {
        .profile-icon {
          content: image_url("profile-blue.png");
          height: 23px;
        }
        p {
          visibility: visible;
          font-weight: bold;
        }
        margin-bottom: 6px;
      }

      .exit-link {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;

        .exit-icon {
          content: image_url("exit.png");
          height: 20px;
          padding: 0;
          margin: 0;
          transition: height ease-out;
        }
        p {
          text-align: center;
          visibility: hidden;
          font-size: 10px;
          font-weight: bolder;
          font-family: "Helvetica-Neue", helvetica, sans-serif;
          margin: 0;
          padding: 1px;
          color: #00A8E5;
        }


      }
      .exit-link:hover {
        .exit-icon {
          content: image_url("exit-blue.png");
          height: 22px;
        }
        p {
          visibility: visible;
          font-weight: bold;
        }
        margin-bottom: 6px;

      }

      .upload-link {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30px;
        width: 30px;
        transition: margin ease-out;
        margin-right: 10px;

        .upload-icon {
          content: image_url("upload.png");
          height: 20px;
          padding: 0;
          margin: 0;
          transition: height ease-out;
        }
        p {
          text-align: center;
          visibility: hidden;
          color: #00A8E5;
          font-size: 10px;
          margin: 0;
          padding: 1px;
        }
      }
      .upload-link:hover {
        .upload-icon {
          content: image_url("upload-blue.png");
          height: 24px;
        }
        p {
          visibility: visible;
          font-weight: bold;
        }
        margin-bottom: 6px;
      }
    }

}
