.logged-in-nav {
  height: 60px;
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  border-bottom: 1px solid lightgray;
  padding-left: 3vw;

    .logo {
      width: 160px;
      height: 25px;
      content: image_url("logo-black.png");
      padding: 18px 5px 18px 5px;

    }


    .logo:hover {
      background: #F2F2F2;
    }


    .exit-link {
      cursor: pointer;
      margin-right: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 30px;
      width: 30px;
      transition: 0.5s ease;

      .exit-icon {
        content: image_url("exit.png");
        height: 25px;
        padding: 0;
        margin: 0;
      }

      p {
        display: none;
      }
    }
    .exit-link:hover {
      p {
        font-size: 10px;
        font-weight: bold;
        margin: 0;
        padding: 0px;
        display: block;
      }
    }

    .upload-link {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 10px;
      height: 30px;
      width: 30px;
      .upload-icon {
        content: image_url("upload.png");
        height: 25px;
        padding: 0;
        margin: 0;
      }
      p {
        display: none;
      }
    }
    .upload-link:hover {
      p {
        font-size: 10px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        display: block;
      }
    }

    .header-group {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .profile-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30px;
        width: 30px;

        .profile-icon {
          height: 25px;
          padding: 0;
          margin: 0;
          content: image_url("profile.png");
        }

        p {
          display: none;
        }
      }
      .profile-link:hover {
        p {
          font-size: 10px;
          font-weight: bold;
          margin: 0;
          padding: 0;
          display: block;
        }
      }
    }

}
