@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.auth-form {
  background: rgb(256, 256, 256);
  background: rgba(0, 0, 0, .8);
  margin-top: 20px;
  padding: 40px;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .submitButton {
    width: 100px;
  }

  .errors-div {
    color: red;
    margin-bottom: 20px;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 5px;
      }
    }
  }
  }

  .submitButton {
    color: white;
    background: linear-gradient(lightgreen, darkgreen);
    box-shadow: 1px 1px 0px 0px black;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: black;
  }
  .submitButton:hover {
    filter: brightness(.7);
  }

.login-form-container {
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

    form {
      p {
        font-size: 16px;
        padding-bottom: 30px;
      }

      label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
      }

      .login-input {
        border-radius: 0px;
        background-color: #FEF1E9;
        text-align: left;
      }

      .submitButton {
        margin: 10px;
      }

    }
    a {
      font-family: sans-serif;
      color: white;
      text-decoration: underline;
    }

    a:hover {
      color: 	#228B22;
    }

  }
