@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.auth-form {
  background: white;
  box-shadow: 1px 1px 1px 1px #888888;
  margin-top: 20px;
  padding: 40px;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  text-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .submitButton {
    width: 100px;
  }

  .errors-div {
    color: red;
    margin-bottom: 20px;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 5px;
      }
    }
  }
  }

  .submitButton {
    color: white;
    background: linear-gradient(lightgreen, darkgreen);
    box-shadow: 1px 1px 0px 0px black;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: black;
  }
  .submitButton:hover {
    filter: brightness(.7);
  }

.login-form-container {
    color: black;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
     background: #FEF1E9;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      p {
        font-size: 20px;
        padding-bottom: 30px;
      }

      label {
        color: grey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        margin-bottom: 5px;
      }

      .login-input {
        font-size: 18;
        border-radius: 3px;
        background-color: white;
        text-align: left;
        width: 200px;
        height: 30px;
      }

      .login-input:enabled {
        font-size: 18px;
        border: 1px solid lightblue;
      }

    }
    a {
      font-family: sans-serif;
      color: black;
      text-decoration: underline;
    }

    a:hover {
      color: 	#228B22;
    }

    .login-form-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
    }

    .login-signup {
      height: 100%;
      a {
        margin-right: 40px;
        text-decoration: none;
        font-family: sans-serif;
        color: white;
        padding: 20px;
      }

      a:nth-child(2) {
        background: green;
      }
      a:nth-child(1) {
        display: none;
      }

      a:hover {
        filter: brightness(1.2);
      }
    }




    .logo {
      width: 190px;
      height: auto;
      margin-left: 40px;
      content: image_url("logo-black.png");
    }

    .logo:hover {
      content: image_url("logo-white.png");
      filter: brightness(.2);
    }


  }
