.login-form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-right: 3vw;
  padding-left: 3vw;
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
  .signup {
    height: 100%;
    display: flex;

    a {
      padding: 14.5px;
      text-decoration: none;
      font-family: sans-serif;
      color: white;
      font-size: 14px;
      background: rgba(0, 184, 6, .85);
      border-right: 1px solid white;
    }


    a:hover {
      background: rgba(0, 184, 6, 1);
      color: white;
    }
  }
  .logo {
    padding: 10px;
    width: 160px;
    height: 25px;
    content: image_url("logo-black.png");
  }

  .logo:hover {
    background: #e4e7e8;
  }

  .login {
    text-align: center;
    a {
      padding: 15px;
      text-decoration: none;
      font-size: 14px;
      font-family: sans-serif;
      color: black;
      border-right: 1px solid white;
    }


    a:hover {
      background: #e4e7e8;
      color: black;
    }
  }
}
