@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.auth-form {
  background: white;
  border: 1px solid lightgray;
  padding: 1.5vh;
  border-radius: 3px;
  width: 380px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;

  .swap-form-message {
    color: black;
    height: 100px;
  }

  .errors-div {
    color: red;
    padding-bottom: 30px;

    height: 30px;
    ul {
      list-style-type: none;
      font-size: 14px;
    }
  }
  }

  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    color: white;
    font-weight: bold;
    background: rgba(0, 184, 6, .85);
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: black;
    filter: brightness(.9);
  }
  .submitButton:hover {
    background: rgba(0, 184, 6, 1);
  }

  .form-message {
    height: 70px;
    color: #454545;
  }

.login-form-container {
    color: black;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
     background: #F2F2F2;

    form {
      display: flex;
      justify-content: center;
      height: 100vh;
      padding: 30px;

      h1 {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      h3 {
        margin-bottom: 20px;
        font-size: 14px;
        color: #4f4e4d;
      }

      p {
        font-size: 14px;
        padding-top: 30px;
        color: gray;
        a {
          color: inherit;
        }
        a:hover {
          color: black;
        }
      }


      label {
        color: #62615F;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .login-input {
        font-size: 16px;
        border-radius: 3px;
        padding-left: 5px;
        background-color: white;
        text-align: left;
        border: 1px solid darkgray;
        width: 250px;
        height: 30px;
        margin-bottom: 12px;
      }

      .login-input:focus {
        outline: none !important;
        border: 1px solid #00beff;
      }

    }
    a {
      font-family: sans-serif;
      color: black;
      text-decoration: underline;
    }

    a:hover {
      color: 	#228B22;
    }
}
