@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.photo-detail-main {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;


  justify-content: center;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
       -o-animation: fadein 1.5s; /* Opera < 12.1 */
          animation: fadein 1.5s;

  .photo-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;


    img {
      max-height: 90vh;
      max-width: 95vw;
      border: 1px solid gray;
    }


    .title-and-links {
      list-style: none;
      width: 94vw;
      max-width: 1070px;
      margin-top: 2vw;
      margin-bottom: 2.5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      .title {
        color: white;
        font-family: sans-serif;
        font-size: 26px;
      }
        li {
          a {
            width: 180px;
            padding: 5px;
            text-align: center;
            float: right;
            font-family: sans-serif;
            font-size: 16px;
            border: 1px solid white;
          }

          a:hover {
            font-weight: bold;
            background: rgb(256, 256, 256);
            background: rgba(256, 256, 256, 0.2);
          }
        }

      }
      h1 {
        color: white;
        font-family: sans-serif;
        padding: 2vw;
        font-size: 25px;
      }
    }
  }
