.photo-detail-main {
  height: auto;
  width: auto;
  background: black;

  .photo-detail {
    position: absolute;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 40px;
    background: #494949;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid black;

    .side-div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;

      ul {
        list-style-type: none;
        width: 100%;
        li {
          border-bottom: 1px solid lightgray;
          padding: 5px;
        }
      }
    }
    img {
      width: 100%;
      border: 1px solid lightgray;
    }
  }

}
