.photo-detail-main {
  height: 100vh;


  .photo-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 40px;
  }
  .side-div {
    margin: 30px;
    width: 10vw;

    ul {
      list-style-type: none;
    }
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img {
      padding: 10px;
      width: 100%;
    }
  }
  * {
    border: 1px solid red;
  }
}
