.profile-div {
  display: flex;
  flex-direction: column;

  .cover-photo {
    height: 200px;
    border-bottom: 1px solid black;
  }

  .profile-info {
    height: 200px;
  }

  .profile-photos {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }

    .photos-index-item {
      height: 120px;
      width: 150px;
      margin: 5px;
      border: 1px solid lightgray;
      box-sizing: border-box;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .author_id, .title {
        display: none;
      }
      img {
        flex-shrink: 0;
        min-height: 100%;
        max-width: 100%;
        filter: brightness(.85);
      }
      img:hover {
        filter: brightness(1);
      }
    }
  }
}
