.profile-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f4f1ed;


  .cover-photo-div {
    margin-top: 50px;
    width: 100%;
    height: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    position: relative;
    overflow: hidden;

    .name {
      font-size: 3vw;
      font-family: 'Didact Gothic', sans-serif;
      font-weight: bold;
      position: absolute;
      bottom: 1vw;
      color: white;
    }

    .cover-img {
      position: absolute;
      width: 100%;
    }

    .profile-photo-div {
      position: absolute;
      bottom: 5vw;
      height: 20vw;
      width: 20vw;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .profile-img {
        flex-shrink: 0;
        max-height: 25vw;
        min-height: 20vw;
        max-width: 25vw;
        min-width: 20vw;
      }
    }

    .buttons-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      bottom: 1.5vw;
      left: 3vw;
      width: 120px;

      button {
        width: 100%;
        color: white;
        font-weight: bold;
        background: #00b806;
        padding: 8px 20px 8px 20px;
        border-radius: 3px;
        border: black;
        filter: brightness(.9);
      }

      button:hover {
        filter: brightness(1);
      }
    }
  }



  .profile-photos {
    width: 100vw;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;


    .profile-info-div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      h1 {
        margin-bottom: 20px;
        font-size: 24px;
        text-decoration: underline;
      }

      .about-div {
        padding: 20px 80px 40px 80px;
        max-width: 600px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    ul {
      margin-bottom: 100px;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 30px 10px 30px;
    }

    .photos-index-item {
      height: 200px;
      width: 300px;
      margin: 5px;
      box-sizing: border-box;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      position: relative;

      .title {
        padding: 10px;
        color: white;
        font-style: italic;
        font-size: 16px;
        width: 100%;
        background: linear-gradient(transparent, black);
        position: absolute;
        bottom: -38px;
        transition: bottom .12s;
      }
      img {
        flex-shrink: 0;
        min-height: 100%;
        max-height: 120%;
        min-width: 100%;
        max-width: 120%;
      }
    }
    .photos-index-item:hover {
        position: relative;
      .title {
        font-style: italic;
        position: absolute;
        bottom: 0px;
        padding: 10px;
        color: white;
        font-size: 16px;
        width: 100%;
        background: linear-gradient(transparent, black);
      }
    }
  }
}
