@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

  #background-1 {
    height: 100vh;
    background: image_url("mtns.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  #background-2 {
    height: 100vh;
    background: image_url("mtns.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #background-3 {
    height: 100vh;
    background: image_url("path.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
  #background-4 {
    height: 100vh;
    background: image_url("golden-gate.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #background-5 {
    height: 100vh;
    background: image_url("sunset.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }





.splash-welcome {
  padding-top: 40px;
  z-index: 1;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
  h1 {
    font-size: 36px;
    padding: 30px;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
  }
  button {
    z-index: 2;
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    background: #00a5ff;
  }
}

.change-background-btn {
  position: absolute;
  background: transparent;
  border-style: none;
  top: -5px;
  left: -5px;
  height: 110vh;
  width: 110vw;
}
