
@keyframes grow {
  from { opacity: 0; }
  to   { opacity: 1; }
  from { transform: scale(.95); }
  to { transform: scale(1); }
}

  #background-1 {
    height: 100vh;
    background: image_url("splash-dark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #background-2 {
    height: 100vh;
    background: image_url("mtns.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #background-3 {
    height: 100vh;
    background: image_url("path.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #background-4 {
    height: 100vh;
    background: image_url("golden-gate.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #background-5 {
    height: 100vh;
    background: image_url("road.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media all and (min-width: 960px) {
    h1 {
        font-size: 40px;
      }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
  }

  @media all and (max-width: 959px) and (min-width: 600px) {
  h1{
      font-size: 4vw;
    }
    h2 {
      font-size: 3vw;
    }
    p {
      font-size: 2.5vw;
    }
  }

  @media all and (max-width: 599px) and (min-width: 50px) {
  h1{
      font-size: 5.5vw;
    }
    h2 {
      font-size: 3.8vw;
    }
    p {
      font-size: 3vw;
    }
  }


body {
  min-width: 317px;
}

.splash-welcome {
  opacity: 0;
  z-index: -2;
  padding-top: 8vh;
  color: white;
  font-family: "Helvetia Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;

  -webkit-animation: grow 2s; /* Safari, Chrome and Opera > 12.6.1 */
     -moz-animation: grow 2s; /* Firefox < 16 */
      -ms-animation: grow 2s; /* Internet Explorer */
       -o-animation: grow 2s; /* Opera < 12.6.1 */
          animation: grow 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: .6s;


  h1 {
    padding: 30px;
    text-align: center;
  }
  h2 {
    padding-bottom: 30px;
    text-align: center;
  }
  button {
    z-index: 10;
    padding: 12px 16px 12px 16px;
    background: #00bbff;
    filter: brightness(.9);
  }
  button:hover {
    background: #00bbff;
    filter: brightness(1);
  }
}

.change-background-btn {
  position: absolute;
  border-style: none;
  background: transparent;
  top: calc(15vh + 250px);
  height: calc(46vh - 90px);
  width: 100vw;
}
